* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Bai Jamjuree", sans-serif;
}

.btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 305px));
  gap: 25px;
  justify-content: center;
}

.btns .btn {
  height: 55px;
  padding: 0 20px;
  background: #26baa4;
  border-radius: 50px;
  border: none;
  border-bottom: 3px solid #1b8d7c;
  color: #fff;
  box-shadow: 0px 7px 7px 3px rgba(38, 186, 164, 0.3);
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
}

.btns .btn:hover {
  cursor: pointer;
  opacity: .8 !important;
  transition: .5s ease;
}

.btns .btn:nth-child(2) {
  background: #6173ff;
  border: none;
  border-bottom: 3px solid #374191;
  box-shadow: 0px 7px 7px 3px rgba(97, 115, 255, 0.3);
}

.hero {
  background: url(../img/bg-header-mobile.png) no-repeat;
  background-size: contain;
  text-align: center;
  padding: 120px 32.2px;
  padding-bottom: 140px;
}

.hero .hero__logo {
  margin-bottom: 50px;
}

.hero .hero__text {
  margin-bottom: 50px;
}

.hero .hero__text .hero__title {
  color: #4c545d;
  margin-bottom: 20px;
}

.hero .hero__text .hero__copy {
  color: #9fabb2;
  line-height: 1.6;
  max-width: 569px;
  margin: 0 auto;
}

.text {
  text-align: center;
  margin-bottom: 65px;
}

.text .text__title {
  font-size: 2.8rem;
  color: #4c545d;
  margin-bottom: 20px;
}

.text .text__copy {
  color: #9fabb2;
  line-height: 1.6;
  max-width: 622px;
  margin: 0 auto;
}

main {
  padding: 0 32.2px;
}

main .section__one {
  margin-bottom: 185px;
}

main .section__one .section__one__fig {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

main .section__one .section__one__fig .section__one__img {
  width: inherit;
  max-width: 630px;
}

main .section__one .section__one__content .section__one__text {
  text-align: center;
  margin-bottom: 50px;
}

main .section__one .section__one__content .section__one__text .section__one__title {
  color: #4c545d;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

main .section__one .section__one__content .section__one__text .section__one__copy {
  color: #9fabb2;
  line-height: 1.6;
  max-width: 353px;
  margin: 0 auto;
}

main .section__two {
  margin-bottom: 95px;
}

main .section__two .section__two__fig {
  text-align: center;
  width: 100%;
}

main .section__two .section__two__fig .section__two__img {
  width: inherit;
  max-width: 630px;
}

main .section__three {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 105px;
}

main .section__three .section__three__row {
  margin-bottom: 130px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 60px 40px;
  justify-content: center;
}

main .section__three .section__three__row .section__three__column .section__three__ico {
  margin-bottom: 30px;
  height: 40px;
}

main .section__three .section__three__row .section__three__column .section__three__title {
  font-size: 2.5rem;
  color: #4c545d;
  margin-bottom: 28px;
}

main .section__three .section__three__row .section__three__column .section__three__copy {
  color: #9fabb2;
  line-height: 1.6;
  max-width: 350px;
  margin: 0 auto;
}

main .section__three .section__three__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
  gap: 65px 100px;
  justify-content: center;
}

main .btns--mod {
  margin-bottom: 150px;
}

.footer {
  padding: 50px 32.2px;
  text-align: center;
  background: #F5F6F8;
}

.footer .footer__content__one .footer__img {
  width: 58px;
}

.footer .footer__content__two {
  display: grid;
  gap: 35px;
  padding: 45px 0;
  font-size: 1.9rem;
}

.footer .footer__content__two .footer__links {
  display: flex;
  flex-direction: column;
}

.footer .footer__content__two .footer__link {
  color: #4c545d;
  text-decoration: none;
}

.footer .footer__content__two .footer__link:hover {
  color: #26baa4;
  transition: .5s ease;
}

.footer .footer__content__two .footer__link--mod {
  margin-bottom: 35px;
}

.footer .footer__content__three {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 43px;
}

.footer .footer__content__three .footer__ico {
  color: #4C545C;
  font-size: 27px;
}

.footer .footer__content__three .footer__ico:hover {
  color: #26baa4;
  transition: .5s;
}
