// style singular
.btns {

  .btn {
    font-size: 1.7rem;
  }

}

// style nested
.hero {

  .hero__text {

    .hero__title {
      font-size: 4rem;
    }

    .hero__copy {
      font-size: 1.8rem;
      max-width: 620px;
    }

  }

}