// ### Primary
$Strong-Cyan: rgb(38, 186, 164);
$Light-Blue: rgb(97, 115, 255);

// ### Neutral
$Dark-Grayish-Blue: rgb(76, 84, 93);
$Grayish-Blue: rgb(159, 171, 178);

// Font-Family
$Family-Bai-Jamjuree: 'Bai Jamjuree',
sans-serif;